
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>
<h2>You are Allow to use this App</h2>

<h2>Welcome @Session["username"]</h2>
<h2><a href="@Url.Action("Logout","Action")">Click Me! to Logout</a></h2>

