
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactPageView</title>
</head>
<body>
    <div> 
        <h2>Contact page</h2>
    </div>
</body>
</html>
